code/translate-ai/node_modules/
code/translate-ai/package-lock.json
code/translate-ai/index.ar.md
code/translate-ai/index.de.md
code/translate-ai/index.es.md
code/translate-ai/index.fa.md
code/translate-ai/index.fr.md
code/translate-ai/index.id.md
code/translate-ai/index.it.md
code/translate-ai/index.ja.md
code/translate-ai/index.ko.md
code/translate-ai/index.pl.md
code/translate-ai/index.pt.md
code/translate-ai/index.ru.md
code/translate-ai/index.th.md
code/translate-ai/index.tr.md
code/translate-ai/index.vi.md
code/translate-ai/index.zh.md
code/translate-ai/index.zh-hant.md

